#show-order {
  display: none;
}

.orderList {
  display: none;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/pizza1.jpg");
  background-size: cover;
  color: white;
}

.footer {
  background-color: lightgray;
  margin-top: 50px;
  padding: 30px;
}
