#show-order {
  display: none;
}

.orderList {
  display: none;
}

#orders {
  cursor: pointer;
  color: #0088cc;
  list-style-image: url("../img/pizza.png");
}

#orders:hover {
  text-decoration: underline;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/pizza1.jpg");
  background-size: cover;
  color: white;
}

.footer {
  background-color: lightgray;
  margin-top: 50px;
  padding: 30px;
}
